body{
    background-image: url('haas2023.gif');
    background-size: cover;
    
    
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 100vh;
    padding:0;
    margin:0;
}